# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies


# Firebase / FlutterFire
firebase-debug.log
firebase-debug.*.log

# Keep this (DO NOT IGNORE)
!lib/firebase_options.dart


# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/*.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh
ios/Podfile.lock
ios/Podfile
macos/Podfile

# macOS
macos/Pods/
macos/Flutter/
macos/.symlinks/
macos/Flutter/ephemeral/
macos/Flutter/*.xcconfig
macos/Podfile.lock


# Android
android/.gradle/
android/local.properties
android/app/build/

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugins.mk


# IDE
.vscode/
.idea/
*.iml


# OS
.DS_Store
Thumbs.db

# Ignore Flutter lockfile (user choice)
pubspec.lock

functions/lib/
functions/node_modules/

.firebase/
functions/node_modules/
functions/lib/